/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow: hidden; /* Hidden by default */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
}

.dashboard-page {
  overflow-y: auto; /* Enable vertical scrolling only */
  min-height: 100vh; /* Full height for the viewport */
  display: flex; /* Flexbox to align children vertically */
  flex-direction: column; /* Align children in a column */
  align-items: center; /* Center children horizontally */
  justify-content: flex-start; /* Align children at the top */
  background-color: #212121; /* Background color */
  padding-top: 0;
  margin-top: 0;
}

/* Scrollable card for tasks on DashboardPage */
.scrollable-task-list {
  max-height: 300px; /* Maximum height for the card */
  overflow-y: auto;  /* Enable scrolling */
}

/* Hide scrollbar styles */
.scrollable-task-list::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.scrollable-task-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scales-page {
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Allows scrolling */
 
  padding-bottom: 120px; /* Adds extra space at the bottom for scrolling */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scales-page::-webkit-scrollbar {
  display: none;
}


/* Content container with padding */
.scales-page > .content-container {
  padding-top: 16px;
  margin-bottom: 16px;
}


